BODY {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: 굴림, verdana, tahoma;
	
	margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    min-height: 100vh;
	
}

TD {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: 굴림, verdana, tahoma
}

SELECT {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: 굴림, verdana, tahoma
}

DIV {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: 굴림, verdana, tahoma
}

FORM {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: 굴림, verdana, tahoma
}

TEXTAREA {
	BORDER-RIGHT: 1px solid #999999;
	BORDER-TOP: 1px solid #999999;
	FONT-SIZE: 9pt;
	BORDER-LEFT: 1px solid #999999;
	COLOR: BLACK;
	BORDER-BOTTOM: 1px solid #999999;
	FONT-FAMILY: 굴림, verdana;
	BACKGROUND-COLOR: white
}

INPUT {
	BORDER-RIGHT: 1px solid #999999;
	BORDER-TOP: 1px solid #999999;
	FONT-SIZE: 9pt;
	BORDER-LEFT: 1px solid #999999;
	COLOR: BLACK;
	BORDER-BOTTOM: 1px solid #999999;
	FONT-FAMILY: 굴림, verdana;
	HEIGHT: 19px;
	BACKGROUND-COLOR: white
}

A:link {
	text-decoration: none;
	color: #696969
}

A:hover {
	text-decoration: yes;
	color: #66CCFF
}

A:visited {
	text-decoration: none;
	color: #330066
}
   
  /* 메인페이지 이미지 */
  
  .main-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
} 
